
{% extends "layouts/master.twig" %}
{% block content %}
  <section class="card">
    <h1>{{ 'thankyou.title'|trans }}</h1>
    <p class="muted">{{ 'thankyou.subtitle'|trans }}</p>
    <salla-orders></salla-orders>
  </section>
{% endblock %}
