
{% extends "layouts/master.twig" %}
{% block content %}
  {% include 'components/home/digital-hero.twig' %}
  {% include 'components/home/feature-cards.twig' %}
  <section class="container" style="margin-top:28px;">
    <h2>{{ 'home.new_releases'|trans }}</h2>
    <salla-products-list limit="8"></salla-products-list>
  </section>
  {% include 'components/common/testimonials.twig' %}
{% endblock %}
